
    <nav>
        <a href="{% url 'index' %}">home</a>
        <a href="{% url 'games' %}">{% url 'games' %}</a>
        <a href="{% url 'shopping list' %}">{% url 'shopping list' %}</a>
        <a href="{% url 'tasks' %}">{% url 'tasks' %}</a>
        <a href="{% url 'control of garden' %}">{% url 'control of garden' %}</a>
        <a href="{% url 'control of home' %}">{% url 'control of home' %}</a>
        <a href="{% url 'chat' %}">{% url 'chat' %}</a>

        <br><br>
        <a href="{% url 'add profile' %}">{% url 'add profile' %}</a>

    </nav>


