{% extends 'core/base.html' %}

{% block page_title %}Process description{% endblock %}

{% block page_content %}
This is the `process description` page

    <br><br><br>
    {% csrf_token %}
    {{ csrf_token }}
    <br><br>
    {# some comment #}
    {% comment %}
    multiline comment
    {% endcomment %}
    The process is: {{ process_id }}
    <br><br>

    {% if my_info %}
        My info /w `for` tag {{ my_info }}:
        {% for i in my_info %}
            <li>{{ i }}</li>
        {% endfor %}
    {% else %}
        Nothing!
    {% endif %}

    <br><br>
    Random: {{ value }}
    <br><br>
    A dict: {{ a_dict.first_item }}, {{ a_dict.second_item }}
    <br><br>
    From class /w filter: {{ from_class|upper }}
    <br><br>
    Filter only: {{ 2|add:3|add:4 }}
    <br><br>
    Datetime /w filter: {{ datetime|date:"d-m-Y" }}
    <br><br>

    Groceries:<br>
    {% for g in groceries_list %}
        <li>{{ g.full_grocery_info }}</li>
    {% endfor %}
    <br><br>

    Tasks:<br>
    {% for t in tasks_list %}
        <li>{{ t.task_name }}: {{ t }}</li>
    {% endfor %}
    <br><br>

    Task1: {{ task_1 }}
    <br><br>

    Games:<br>
    {% for g in games %}
        <li>{{ g.slug }}</li>
    {% endfor %}
    <br><br>

{% endblock %}
